.popup-container {
  border: 2px solid rgb(241, 241, 241);
  border-radius: 10px;
  padding: 3px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(241, 241, 241);
  padding-right: 10px;
}

/*test1*/
/*test2*/
