@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@media only screen and (max-width: 640px) {
}

@media only screen and (min-width: 641px) {
  .exit-icon {
    display: none;
  }
}

.app {
  text-align: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100vh;
  padding: 0px;
  transition: 0.5s ease;
}

.mainPage {
  flex: 81%;
  height: 100%;
}
